.fancyBtn {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to bottom, #8B3D2D, #9B4A39);
    -fx-border-color: #83301B;
    -fx-border-width: 3px;
}

.fancyBtn:hover {
    -fx-background-color: #8B3D2D;
}

#market {
    -fx-background-image:  url("../images/market.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-cursor: hand;
}

.buyItem {
    -fx-background-image: url("../images/buyItem.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-cursor: hand;
}

#shopPane {
    -fx-border-color: #7F4F27;
    -fx-border-width: 4px;
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, #F7BB5E, #EC9042);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#itemsPane {
    -fx-background-color: transparent;
    -fx-font-size: 24px;
    -fx-background-color: #FFD884;
    -fx-background-radius: 20px;
    -fx-border-color: #7F4F27;
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
}