.background {
    -fx-background-image: url("../images/safari.jpg");
    -fx-background-size: cover;
}

.toggle-button, .button {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to bottom, #8B3D2D, #9B4A39);
    -fx-border-color: #83301B;
    -fx-border-width: 3px;
}

.toggle-button:hover, .button:hover {
    -fx-background-color: #8B3D2D;
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(to bottom, #EB8E45, #EA6F2B);
    -fx-border-color: #CE652C;
}

#startBtn, #backBtn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text {
    -fx-cursor: hand;
}

#diffLabel {
    -fx-cursor: default;
}

.volumeButton {
    -fx-border-width: 0;
}