.background {
    -fx-background-image: url("../images/safari_cartoon_background_.jpg");
    -fx-background-size: cover;
}

#worldPane{
    -fx-background-image: url("../images/road.png");
}
#shop{
   -fx-background-color: orange;
}

.button {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to bottom, #8B3D2D, #9B4A39);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 1, 1);
    -fx-border-color: #83301B;
    -fx-border-width: 3px;
}

.button:hover {
    -fx-background-color: #8B3D2D;
}
